form#log {
    color: var(--white);
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

form#log h4 {
    font-style: italic;
    margin-bottom: 0.5rem;
}

.max-size {
    margin-top: 1.5rem;
    font-size: 14px;
}

.log-textarea {
    display: flex;
    justify-content: center;
}

.log-textarea textarea {
    resize: none;
    background: var(--white);
    width: 100%;
    color: var(--black) !important;
    padding-top: 0.3rem !important;
    padding-left: .3rem !important;
    padding-right: .5rem !important;
    font-size: 13px;
    font-family: monospace;
}

.log-buttons {
    display: flex;
    justify-content: center;
    margin-top: -1.8rem;
}

.save-button {
    font-weight: normal;
}
