@import 'tailwindcss';
@import './progress-bars.css';
@import './back-button.css';
@import './disconnect-button.css';
@import './modals.css';
@import './home/home.css';
@import './home/apps.css';
@import './home/levels.css';
@import './processes/processes.css';
@import './scan/scan.css';
@import './bank-account/bank-login.css';
@import './store/store.css';
@import './log/log.css';
@import './my-device/my-device.css';
@import './login/login.css';
@import './access-boot/access-boot.css';
@import './messages/messages.css';
@import './leaderboards/leaderboards.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'neuropol';
    src: url('/fonts/neuropol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('/fonts/dosis.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'main_normal';
    src: url('/fonts/united_sans_reg_medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'main_bold';
    src: url('/fonts/united_sans_reg_heavy.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'main_light';
    src: url('/fonts/united_sans_reg_light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

body {
    background: var(--bodyBg);
    scroll-behavior: smooth;
    font-family: 'main_normal';
    scroll-behavior: smooth;
}

:root {
    --black: #000;
    --blackTransparency: #00000080;
    --grey: #2f2f2f;
    --grey2: #4c4c4c;
    --darkGrey: #252525;
    --darkGreyTransparency: #25252580;
    --mainDark: #222;
    --secondaryDark: #333;
    --transition: 0.3s ease-in;
    --white: #fff;
    --white-2: #fffefe;
    --bodyBg: #383838;
    --red: #e72020;
    --primaryGreen: #a6e736;
    --primaryGreenHover: #77a625;
    --secondaryGreen: #94ff94;
    --scanColor: #6bb20fab;
    --scanColorSecondary: #6bb20f;
    --bankLoginBg: #084b8d;
    --bankColor: #1a5492;
    --bankLogo: #ff7507;
    --bitcoinColor: #fff96d;
    --homeApps1: #fe9a48;
    --homeApps2: #42e3ee;
    --levels1: #2886bc;
    --levels2: #25d21b;
    --levels3: #b3db20;
    --levels4: #1d4962;
    --leaderboard: #484848;
    --checkbox: #606062;
    --mainButton: #cecece;
    --mainButton2: #3d3d3d;
    --secondaryButton: #c2c2c2;
    --lightGrey: #ccc;
    --disconnect: #95ff94;
    --modal: #1e1e1e;
    --modalText: #bebebe;
    --boxShadow: '5px 5px 20px var(--blackTransparency)';
    --wallpaperFrame: #303030;
}

input[type="search"], input[type="text"], input[type="password"], textarea {
    background-color: var(--white);
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    font-size: 20px;
    color: var(--black);
}

input[type="password"] {
    letter-spacing: 3px;
}

hr {
    border: .1px solid #ffffff85;
    width: 100%;
}

textarea:focus-visible {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.input-error-message {
    color: var(--red);
    font-size: 0.9em;
    margin-top: 5px;
}

.negative {
    color: var(--red);
}

.positive {
    color: var(--primaryGreen);
}

.rotate-180 {
    transform: rotate(180deg);
}

.scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

*::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #0000007d; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

.dark-gradient-header {
    z-index: 3;
    background: linear-gradient(0deg, #151515 30%, var(--grey2) 100%);
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: fixed;
}

.dark-gradient-header h3 {
    font-family: 'main_bold';
    font-style: italic;
    font-size: 18px;
}
