@import 'tailwindcss';
@import './progress-bars.css';
@import './back-button.css';
@import './disconnect-button.css';
@import './modals.css';
@import './home/home.css';
@import './home/apps.css';
@import './home/levels.css';
@import './processes/processes.css';
@import './scan/scan.css';
@import './bank-account/bank-login.css';
@import './store/store.css';
@import './log/log.css';
@import './my-device/my-device.css';
@import './login/login.css';
@import './access-boot/access-boot.css';
@import './messages/messages.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'neuropol';
    src: url('/fonts/neuropol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('/fonts/dosis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--bodyBg);
    scroll-behavior: smooth;
}

:root {
    --black: hsl(0, 0%, 11%);
    --primary: hsl(32, 91%, 50%);
    --transition: 0.3s ease-in-out;
    --white: #fff;
    --bodyBg: #383838;
    --red: #e72020;
    --primaryGreen: #a6e736;
    --secondaryGreen: #94ff94;
}

input[type="search"], input[type="text"], input[type="password"], textarea {
    background-color: white;
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    font-size: 20px;
    color: black;
}

input[type="password"] {
    letter-spacing: 3px;
}

textarea:focus-visible {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.input-error-message {
    color: #e72020;
    font-size: 0.9em;
    margin-top: 5px;
}

.negative {
    color: #e72020;
}

.positive {
    color: #a6e736;
}

.rotate-180 {
    transform: rotate(180deg);
}

.scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}