@import 'tailwindcss';
@import './progress-bars.css';
@import './back-button.css';
@import './modals.css';
@import './home/home.css';
@import './home/apps.css';
@import './processes/processes.css';
@import './scan/scan.css';
@import './bank-account/bank-login.css';
@import './store/store.css';
@import './log/log.css';
@import './my-device/my-device.css';
@import './login/login.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'neuropol';
    src: url('/fonts/neuropol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('/fonts/dosis.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #383838;
}

:root {
    --black: hsl(0, 0%, 11%);
    --primary: hsl(32, 91%, 50%);
    --transition: 0.3s ease-in-out;
    --white: #fff;
}

input[type="search"], input[type="text"], input[type="password"] {
    background-color: white;
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    font-size: 20px;
}

input[type="password"] {
    letter-spacing: 3px;
}

textarea:focus-visible {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.input-error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}