section#go-back {
    background: var(--blackTransparency);
    position: fixed;
    width: 100%;
    text-align: -webkit-center;
    bottom: 3rem;
}

section#go-back svg:hover {
    fill: var(--primaryGreenHover);
    transition: var(--transition);
}

section#go-back svg {
    fill: var(--primaryGreen);
    height: 60px;
    width: 60px;
    transition: var(--transition);
}

section#remove-button {
    width: 100%;
    text-align: -webkit-center;
    background: var(--blackTransparency);
    position: fixed;
    bottom: 6.75rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
