#disconnect {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: var(--blackTransparency);
    position: fixed;
    top: 0;
    font-weight: bold;
    font-size: 15px;
    font-family: 'main_bold';
}

.disconnect-button {
    cursor: pointer;
    transition: var(--transition);
    animation: textColorFade 3s ease-in-out forwards infinite;
}

.disconnect-button:hover {
    color: var(--disconnect);
    transition: var(--transition);
    animation: none;
}

.disconnect-button:active {
    color: #575757;
    transition: var(--transition);
    animation: none;
}

@keyframes textColorFade {
    0% {
        color: var(--white);
    }
    50% {
        color: var(--disconnect);
    }
    100% {
        color: var(--white);
    }
}