.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    color: var(--white);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-frame {
    position: relative;
    background-color: #131313;
    width: 80%;
    margin: auto auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal-content {
    border-radius: 0 0 1.768em 1.768em;
}
#modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#modal-top .title {
    font-style: italic;
    font-weight: bold;
    font-family: 'main_bold';
}

/* Modal Content/Box */
.modal-content .title {
    background-color: #1e1f1e;
}

/* The Close Button */
.close:not(.cancel) {
    color: var(--primaryGreen);
    float: right;
    font-size: 28px;
    font-weight: 700;
    font-family: 'main_bold';
    padding-bottom: 4px;
    transition: var(--transition);
}
.close:not(.cancel):hover,
.close:not(.cancel):focus {
    color: #136123;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

/* Apps modal */
#apps-modal .modal-content ul li {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: .6rem;
    border: 0.5px solid #1d1d1d;
    transition: var(--transition);
    min-height: 5rem;
}
#apps-modal .modal-content ul li:hover {
    background-color: #4747476b;
    transition: var(--transition);
}
#apps-modal .modal-content ul li .app-info {
    display: flex;
    flex-direction: column;
}
#apps-modal .modal-content ul li .app-value {
    font-size: 14px;
}
#apps-modal .top-rightside {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/* Confirm modal */
.confirm-modal {
    align-items: center;
    align-content: center;
}
.confirm-modal #modal-top {
    justify-content: center;
    background: none;
}
.confirm-modal .modal-frame {
    display: inline-table;
    background-color: #f4f4f41a;
    color: white;
    backdrop-filter: blur(var(--glowRadius));
    border: 1px solid var(--glassBorder);
    border-radius: 18px;
    width: 19rem;
    padding-top: 1.5rem;
    min-width: 19rem;
    max-width: 19rem;
    margin-bottom: auto;
    margin-top: auto;
}
.confirm-modal #modal-top .title {
    font-style: normal;
    font-weight: 600;
    font-family: 'main_bold';
    font-size: 18px;
}
.confirm-modal .modal-content {
    text-align: center;
}
.confirm-modal .buttons {
    display: flex;
    justify-content: space-around;
}
.confirm-modal .buttons button {
    color: #007ae3;
    font-weight: 600;
    border-top: 1px solid var(--glassBorder);
    width: 100%;
    padding: .8rem;
}
.confirm-modal .buttons button:hover {
    background: #c2c2c21f;
}
.confirm-modal .buttons button:first-child {
    border-right: 1px solid var(--glassBorder);
    border-radius: 0 0 0 16px;
}
.confirm-modal .buttons button:last-child {
    border-radius: 0 0 16px 0;
}
.confirm-modal .content {
    font-size: 14px;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.cancel {
    font-size: 16px !important;
}

/* Hack modal */
#hack-modal .modal-frame {
    background-color: var(--grey);
    padding: 1.5rem 2.5rem;
    width: 16rem;
    min-width: 16rem;
    max-width: 16rem;
    height: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 50%;
    box-shadow: var(--blackTransparency) 5px 5px 20px;
}
#hack-modal #modal-top {
    background: 0 0;
    margin-bottom: 1rem;
    font-size: 17px;
    text-align: center;
}
#hack-modal .buttons {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
}
#hack-modal .buttons > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hack-button,
.remove-button,
.oc-button,
.retry-button {
    width: 100%;
}

/* Viruses modal */
#viruses-modal .modal-frame {
    background-color: var(--modal);
    width: 40%;
    height: 35%;
    padding: .8rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    box-shadow: var(--boxShadow);
}
#viruses-modal #modal-top {
    text-align: left;
    background: 0 0;
    margin-bottom: 1rem;
    font-size: 17px;
    padding-left: 0;
}
#viruses-modal .buttons {
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    display: flex;
    height: 65%;
    justify-content: center;
}
#viruses-modal .buttons > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#viruses-modal input[type="checkbox"] {
    display: none;
}
#viruses-modal ul li label {
    padding-left: 1rem;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
#viruses-modal ul {
    background: var(--mainButton2);
    padding-bottom: .2rem;
    overflow-y: scroll;
    max-height: 3.5rem;
}
#viruses-modal ul li:nth-child(2n) {
    border-top: 2px solid var(--lightGrey);
    border-bottom: 2px solid var(--lightGrey);
}
#viruses-modal ul li:last-of-type {
    border-bottom: none;
}
.spam-button, .spyware-button {
    width: 100%;
    background-color: var(--mainButton2);
    padding-left: 0.8rem;
    border-radius: 6px;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--mainButton);
    font-weight: bold;
    font-family: 'main_bold';
    letter-spacing: .25px;
    transition: var(--transition);
    text-align: center;
}
.spam-button:hover,
.spyware-button:hover {
    background-color: #4b4b4b;
    transition: var(--transition);
}
.virus-button.active {
    border-radius: 6px 6px 0 0;
    padding-bottom: 1.2rem;
}
.virus-list {
    width: 100%;
}
.virus-list .virus-level {
    border-radius: 0;
}
.virus-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background: #22222269;
    border-radius: 1.768em;
}
.virus-level:hover {
    background: var(--blackTransparency);
}
.virus-found {
    color: var(--white);
    padding: 1.5rem;
}
.spam-general-info,
.spyware-general-info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
#antivirus-modal #modal-top,
#spam-modal #modal-top,
#spyware-modal #modal-top {
    justify-content: flex-start;
    gap: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
#antivirus-modal .level,
#spam-modal .level,
#spyware-modal .level {
    font-size: 12px;
}
#antivirus-modal section.buttons,
#spam-modal section.buttons,
#spyware-modal section.buttons {
    display: flex;
    width: 100%;
    height: 100%;
}
#antivirus-modal .virus-level.antivirus-level,
#spam-modal .virus-level.spam-level,
#spyware-modal .virus-level.spyware-level {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    transition: var(--transition);
}
#spyware-modal .virus-level.spyware-level {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#antivirus-modal .virus-level.antivirus-level:hover,
#spam-modal .virus-level.spam-level:hover,
#spyware-modal .virus-level.spyware-level:hover {
    background-color: #2f2f2f6b;
    transition: var(--transition);
}
#antivirus-modal ul,
#spam-modal ul,
#spyware-modal ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 7rem;
}
.virus-hacker-ip {
    font-size: 18px;
}

/* Spyware modal */
#spyware-log-modal {
    background: none;
}
#spyware-log-modal .modal-frame {
    padding: 1rem;
    display: flex;
    background: var(--black);
    background: linear-gradient(0deg, transparent 0%, #2b2b2b 100%);
    height: 65%;
    width: 80%;
}
#spyware-log {
    width: 100%;
    padding-bottom: 5rem;
}

#spyware-log-modal .button-wrapper {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
}

/* App Info modal */
#app-info-modal .modal-frame {
    width: 24em;
    height: 45%;
    background: var(--modal);
    margin-top: 12rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--modalText);
    min-width: 24em;
    max-width: 24em;
}
#app-info-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#app-info-modal .app_label {
    font-weight: bolder;
    font-family: 'main_bold';
    font-size: 20px;
    font-stretch: expanded;
}
#app-info-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#app-info-frame {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 15px;
}

/* Change IP modal */
#change-ip-modal .modal-frame {
    color: var(--modalText);
    background: var(--modal);
    width: 50%;
    height: 36%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5rem 2rem;
    box-shadow: var(--boxShadow);
    max-width: 22rem;
}
#change-ip-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#change-ip-modal .app_label {
    font-weight: bolder;
    font-family: 'main_bold';
    font-size: 20px;
    font-stretch: expanded;
}
#change-ip-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#change-ip-frame {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 15px;
}
#change-ip-frame form {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

/* Player Info modal */
#player-info-modal .modal-frame {
    width: 17rem;
    min-width: 17rem;
    max-width: 17rem;
    height: 36.5%;
    margin-top: 10rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--modal);
    text-shadow: 2px 3px 3px var(--black);
}
#player-info-modal #modal-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    width: 100%;
    height: 100%;
    padding: 1.2rem 1.5rem;
    display: flex;
    z-index: 1;
    position: absolute;
    background: none;
}
#player-info-modal .username {
    font-weight: bolder;
    font-family: 'main_bold';
    font-size: 20px;
    font-stretch: expanded;
}
#player-info-modal .player-level {
    position: absolute;
    left: 43.5%;
    top: 47.5%;
    z-index: 0;
    transform: scale(4.5);
}
.player-level-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}
.daily-login {
    color: var(--primaryGreen);
    font-size: 15px;
    width: 100%;
}
.daily-login-earned {
    font-size: 12px;
}
.days-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;
}
.day-login {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
.day-logged {
    background: var(--primaryGreen);
    width: 13px;
    height: 16px;
    margin-bottom: -1px;
}

/* Deposit modal */
#deposit-modal .modal-frame {
    background: #19232e7e;
    width: 25%;
    min-width: 18rem;
    height: 32.5%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.2rem;
}
#deposit-modal #modal-top {
    background: none;
    font-style: italic;
    font-weight: bold;
    font-family: 'main_bold';
    font-size: 10.5px;
    padding: 0;
    text-align: center;
    color: #a6a8ab;
}
#deposit-frame ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.deposit {
    background: #adafb1;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    min-width: 45%;
    max-width: 45%;
    display: flex;
    transition: var(--transition);
    user-select: none;
}
.deposit:hover {
    background: #dadbdb;
    transition: var(--transition);
}
.deposit_reward {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #ffffff2b 50%, #00000026 100%);
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .1rem;
    border-radius: 6px 6px 0 0;
    width: 100%;
    padding-bottom: .4rem;
}
.deposit_cost {
    color: #3e3d3f;
    font-weight: 700;
    font-family: 'main_bold';
    font-stretch: expanded;
    font-size: 12.25px;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.cryptocoins_label {
    font-weight: 200;
    font-family: 'main_light';
    font-size: 12px;
    margin-top: -6px;
    color: #494a4c;
}
.deposit_value {
    font-size: 18px;
    font-stretch: expanded;
    font-weight: 650;
    font-family: 'main_bold';
    color: #0a3b6e;
}
#deposit-frame {
    margin-top: 1rem;
}

/* Wallpaper modal */
#wallpaper-modal .modal-frame {
    color: var(--modalText);
    background: var(--modal);
    width: 45%;
    height: calc(60svh - calc(var(--pads) * 2));
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5rem 2rem;
    padding-bottom: 0;
    box-shadow: var(--boxShadow);
    max-width: 22rem;
    top: -24px;
    overflow-y: scroll;
}
#wallpaper-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#wallpaper-modal .app_label {
    font-weight: bolder;
    font-size: 20px;
    font-stretch: expanded;
    font-family: 'main_bold';
}
#wallpaper-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#wallpaper-frame {
    display: flex;
    justify-content: flex-start;
    margin-top: .5rem;
}
#wallpaper-frame form {
    justify-content: center;
    margin-top: .5rem;
    display: flex;
}
#wallpaper-frame ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem .8rem;
    width: 100%;
    display: flex;
}
#wallpaper-frame ul li button img {
    width: 7rem;
    height: 11rem;
}
#wallpaper-frame button {
    transition: var(--transition);
    border-color: var(--wallpaperFrame);
}
#wallpaper-frame button:hover {
    border: 1px solid var(--wallpaperFrame);
    transition: var(--transition);
}

/* Add Contact modal */
#add-contact-modal .modal-frame {
    width: 50%;
    height: 20%;
    background: var(--modal);
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--modalText);
}
#add-contact-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#add-contact-modal .app_label {
    font-weight: bolder;
    font-size: 20px;
    font-stretch: expanded;
    font-family: 'main_bold';
}
#add-contact-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#add-contact-form {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 15px;
}
#input-ip {
    color: var(--black);
}

/* Requests modal */
#requests-modal .modal-frame {
    width: 70%;
    height: 70%;
    background: var(--modal);
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem 1rem;
    color: var(--modalText);
    overflow-y: scroll;
}
#requests-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#requests-modal .app_label {
    font-weight: bolder;
    font-size: 20px;
    font-stretch: expanded;
    font-family: 'main_bold';
}
#requests-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#requests-form {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 15px;
}
#requests-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}
#requests-modal .friend-request {
    padding: 1.2rem;
    background: var(--blackTransparency);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.request-user {
    font-size: 17px;
    font-weight: 600;
    font-family: 'main_bold';
}
.request-action {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.request-date {
    font-size: 14px;
}

/* Contacts modal */
#requests-modal .modal-frame {
    width: 70%;
    height: 70%;
    background: var(--modal);
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem 1rem;
    color: var(--modalText);
    overflow-y: scroll;
}
#requests-modal #modal-top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}
#requests-modal .app_label {
    font-weight: bolder;
    font-size: 20px;
    font-stretch: expanded;
    font-family: 'main_bold';
}
#requests-modal #modal-top div:nth-child(2) {
    font-size: 14px;
}
#requests-form {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 15px;
}
#requests-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}
#requests-modal .friend-request {
    padding: 1.2rem;
    background: var(--blackTransparency);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    transition: var(--transition);
}
.request-user {
    font-size: 17px;
    font-weight: 600;
    font-family: 'main_bold';
}
.request-action {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.request-date {
    font-size: 14px;
}

/* Compose modal */
#compose-modal #modal-top {
    font-weight: bolder;
    font-size: 20px;
    font-stretch: expanded;
    font-family: 'main_bold';
}
#compose-modal section.modal-frame {
    padding: 1.3rem;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
}
#compose-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    height: 100%;
}
#compose-message {
    height: 100%;
}

/* Level Up notification */
#level-up-modal .app_label {
    margin-bottom: .5rem;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    font-family: 'main_bold';
}
#level-up-frame {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'main_bold';
}
#level-up-modal .modal-frame {
    display: flex;
    flex-direction: column;
    background: #02408f66;
    width: 18rem;
    min-width: 18rem;
    max-width: 18rem;
    height: 40%;
    margin: auto;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
}
#level-up-modal #modal-top {
    flex-direction: column;
    margin-bottom: 1rem;
}
.ok-button {
    width: fit-content;
    align-self: center;
}
#level-up-modal .player-level {
    transform: scale(1.4);
}

/* Multi Buy modal */
#multi-buy-modal .modal-frame {
    height: 18rem;
    width: 30rem;
    padding: 1.5rem;
    overflow: hidden;
}
#multi-buy-modal .level {
    color: var(--primaryGreen);
    font-family: 'main_bold';
    font-size: 20px;
    min-width: 3rem;
}
#multi-buy-modal #modal-top {
    padding: 0;
}
#multi-buy-modal .level-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#multi-buy-modal form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#multi-buy-frame {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
#multi-buy-frame .buttons {
    display: flex;
    gap: .5rem;
}
#multi-buy-modal .price-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}
