.progress-bar {
    display: flex;
    background-color: var(--mainDark);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progress-bar .bar {
    width: 1%;
    background-color: var(--primaryGreen);
    height: 4px;
    border-radius: 10px;
}

.progress-bar.failed .bar {
    background-color: var(--red);
}
