.progress-bar {
    display: flex;
    background-color: var(--mainDark);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progress-bar .bar {
    width: 1%;
    background-color: var(--primaryGreen);
    height: 4px;
    border-radius: 10px;
}

.progress-bar .bar .bar-glow {
    position: absolute;
    left: 0;
    width: inherit;
    background-color: inherit;
    height: inherit;
    border-radius: inherit;
    filter: blur(var(--glowRadius));
}

.progress-bar.failed .bar {
    background-color: var(--red);
}
