section#scan {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.ip-user {
    background-color: var(--blackTransparency);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: var(--transition);
}

.ip-user:hover {
    background-color: var(--mainDark);
    transition: var(--transition);
}

.ip-searcher {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

.main-btn {
    background-color: var(--mainButton);
    padding-left: 0.8rem;
    border-radius: 6px;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--mainButton2);
    font-weight: bold;
    letter-spacing: .25px;
    transition: var(--transition);
    text-align: center;
    font-family: 'main_bold';
}

.main-btn:disabled {
    opacity: .5;
    pointer-events: none;
}

.main-btn:hover {
    background-color: #a2a2a2;
    transition: var(--transition);
}

#ip-list {
    padding-top: 1rem;
}

#ip-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--white);
}

.scan-bottomwrap {
    position: fixed;
    bottom: 7.5rem;
    text-align: center;
    width: 100%;
}

.refresh-scan-text {
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 var(--black);
}
