section#scan {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.ip-user {
    background-color: var(--blackTransparency);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: var(--transition);
}

.ip-user:hover {
    background-color: var(--mainDark);
    transition: var(--transition);
}

.ip-searcher {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

#ip-list {
    padding-top: 1rem;
}

#ip-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--white);
}

.scan-bottomwrap {
    position: fixed;
    bottom: 7.5rem;
    text-align: center;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.refresh-scan-text {
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 var(--black);
}
