article.app-frame#processes { grid-area: 1 / 3 / 2 / 4; }
article.app-frame#scan { grid-area: 1 / 4 / 2 / 5; }
article.app-frame#bank-account { grid-area: 2 / 3 / 3 / 4; }
article.app-frame#store { grid-area: 2 / 4 / 3 / 5; }
article.app-frame#messages { grid-area: 3 / 3 / 4 / 4; }
article.app-frame#log { grid-area: 3 / 4 / 4 / 5; }
article.app-frame#apps { grid-area: 4 / 3 / 5 / 4; }
article.app-frame#device{ grid-area: 4 / 4 / 5 / 5; }

.app-button {
    background: #39475A; /* Each app will have its own background color, but just in case :P */
    background: radial-gradient(circle, #3a5680, #152b45 100%);
    border-radius: 18px;
    min-width: 120px;
    min-height: 120px;
    border: 2px solid var(--secondaryGreen);
}

/* Processes button */
article.app-frame#processes .app-button {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
}
article.app-frame#processes .app-button #part-1,
article.app-frame#processes .app-button #part-2,
article.app-frame#processes .app-button #part-3 {
    background: #596571;
    border-radius: 50px;
    width: 100%;
    height: 20px;
    position: relative;
}
article.app-frame#processes .app-button div:before {
    content: '';
    border-radius: 50px;
    left: 0;
    height: 100%;
    position: absolute;
    background: var(--primaryGreen);
    background: linear-gradient(90deg,var(--primaryGreen) 0%, #49D10F 83%);
}
article.app-frame#processes .app-button #part-1:before {width: 85%;}
article.app-frame#processes .app-button #part-2:before {width: 45%;}
article.app-frame#processes .app-button #part-3:before {width: 70%;}

/* Scan button */
article.app-frame#scan .app-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
article.app-frame#scan .app-button div {
    position: absolute;
    border: 8px solid #0000008c;
    border-radius: 100px;
}
article.app-frame#scan .app-button #part-1 {
    width: 125%;
    height: 125%;
    left: -15px;
}
article.app-frame#scan .app-button #part-2 {
    width: 102%;
    height: 102%;
    left: -1px;
}
article.app-frame#scan .app-button #part-3 {
    width: 90%;
    height: 90%;
    left: 6px;
    border: 2px solid var(--scanColor);
}
article.app-frame#scan .app-button #part-4 {
    width: 86%;
    height: 86%;
    left: 8px;
    border-width: 6px;
}
article.app-frame#scan .app-button #part-5 {
    width: 78%;
    height: 78%;
    left: 13px;
    border: 2px solid var(--scanColor);
}
article.app-frame#scan .app-button #part-6 {
    width: 74%;
    height: 74%;
    left: 15px;
    border-width: 6px;
}
article.app-frame#scan .app-button #part-7 {
    width: 60%;
    height: 60%;
    left: 24px;
    border-width: 5px;
}
article.app-frame#scan .app-button #part-8 {
    width: 52%;
    height: 52%;
    left: 28px;
    border: 1px solid var(--scanColor);
}
article.app-frame#scan .app-button #part-9 {
    width: 50.5%;
    height: 50%;
    left: 29px;
    border-width: 4px;
}
article.app-frame#scan .app-button #part-10 {
    width: 44.5%;
    height: 44%;
    left: 32px;
    border: 1px solid var(--scanColor);
}
article.app-frame#scan .app-button #part-11 {
    width: 42.5%;
    height: 42%;
    left: 33px;
    border-width: 4px;
}
article.app-frame#scan .app-button #part-12 {
    width: 30.5%;
    height: 30%;
    left: 40px;
    border-width: 4px;
}
article.app-frame#scan .app-button #part-13 {
    border: 7px solid var(--scanColorSecondary);
}
article.app-frame#scan .app-button #part-14 {
    border: 2px solid var(--scanColorSecondary);
    width: 60px;
    position: absolute;
    left: 42px;
    transform: rotate(125deg);
    top: 36px;
    box-shadow: #ffffff61 -12px -2px 11px 0px;
}

/* Bank Account button */
article.app-frame#bank-account .app-button {
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 0.5rem;
    background: radial-gradient(circle, var(--white-2), #afafaf);
}
article.app-frame#bank-account .app-button span {
    color: var(--bankColor);
    letter-spacing: .05em;
    font-family: Times New Roman, Times, serif;
    font-size: 2em;
    font-weight: 700;
}
#bank-logo {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    justify-content: center;
}
#bank-logo #part-1 {
    background: var(--bankLogo);
    border-radius: 100px;
    width: 50%;
    height: 100%;
}
#bank-logo #part-1 #part-2 {
    background: var(--white);
    border-radius: 0;
    width: 33%;
    height: 70%;
    position: absolute;
    transform: rotate(45deg);
    left: 39px;
    top: 8px;
}
#bank-logo #part-3 {
    background: var(--bankLogo);
    width: 73%;
    height: 70%;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    left: 5px;
}
#bank-logo #part-4 {
    background: var(--white);
    width: 71%;
    height: 71%;
    position: absolute;
    top: 4px;
    left: 4px;
    transform: rotate(-45deg);
}
.bank-name {
    font-size: 56px !important;
}
/* Store button */
.bitcoin {
    width: 100%;
    height: 100%;
    position: relative;
}

.circle {
    border: 8px solid;
    height: 90%;
    transition: var(--transition);
    will-change: transform;
    border-radius: 50%;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 6px;
    left: 6px;
    box-shadow: inset #0000005e 2px 0px 15px 0px;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -10%;
    transform: scale(0.35);
}

.primary-element {
    position: absolute;
    transition: var(--transition);
    will-change: background;
    z-index: 1;
}

.bg-element {
    background: #f8ab13;
    position: absolute;
    z-index: 2;
}

.element-1,
.element-2 {
    height: 18px;
    left: 0;
    width: 76px;
}

.element-1 {
    top: 25px;
}

.element-2 {
    top: 152px;
}

.element-3 {
    height: 145px;
    left: 22px;
    top: 25px;
    transform-origin: 0 0;
    width: 36px;
}

.element-4,
.element-5 {
    height: 194px;
    top: 0;
    width: 20px;
    z-index: 1;
}

.element-4 {
    left: 38px;
}

.element-5 {
    left: 76px;
}

.element-6 {
    height: 18px;
    left: 22px;
    top: 86px;
    width: 54px;
}

.element-7,
.element-8 {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.element-7,
.element-8 {
    left: 96px;
}

.element-7 {
    height: 68px;
    top: 25px;
    width: 43px;
}

.element-8 {
    height: 77px;
    top: 93px;
    width: 49px;
}

.element-9,
.element-10 {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    left: 58px;
    z-index: 10;
}

.element-9 {
    height: 43px;
    top: 43px;
    width: 43px;
    z-index: 10;
}

.element-10 {
    height: 48px;
    top: 104px;
    width: 50px;
}

.element-11 {
    z-index: 10;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 23px;
    height: 109px;
    top: 43px;
    left: 0;
}

.element-12,
.element-13 {
    height: 8px;
    left: 14px;
    width: 8px;
    z-index: 9;
}

.element-12 {
    top: 43px;
}

.element-13 {
    top: 144px;
}

.bitcoin.hover .primary-element {
    background-color: var(--bitcoinColor);
    border: 1px solid var(--bitcoinColor);
}

.bitcoin.hover .circle {
    border-color: var(--bitcoinColor);
    transform: rotate(-15deg);
}

/* Messages button */
article.app-frame#messages .app-button {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(circle, #0a94d4, #074b93);
}
.open{
    transform-origin: 50% 0;
    -webkit-filter: drop-shadow(0 0 gray);
    border: 250px solid transparent;
    border-top: 150px solid #ffa146;
    border-bottom: none;
    width: 0;
    height: 0;
    margin-top: -150px;
    margin-left: -250px;
    transition: all 2s linear;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: perspective(500px);
}

.envelope{
    background: linear-gradient(90deg, #ebebeb, #f7f7f7 50%);
    width: 500px;
    height: 300px;
    margin-top: -150px;
    margin-left: -250px;
    position: absolute;
    top: 60%;
    left: 50%;
}

/* Log button */
article.app-frame#log .app-button {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(circle, var(--white-2), #656565);
}
#log-frame {
    position: relative;
    color: var(--scanColor);
    background: var(--black);
    border: 2px solid var(--white);
    width: 90px;
    height: 90px;
    font-family: Courier New, Courier, monospace;
    font-size: .4em;
    padding: 8px;
    padding-right: 15px;
    text-align: left;
}
#log-scroll {
    border-left: 2px solid var(--white);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 12px;
}
#log-scroll #close {
    color: var(--scanColor);
    font-size: 8px;
    text-align: center;
    font-family: sans-serif;
}
#scrollbar {
    height: 89%;
    width: 10px;
    color: var(--black);
    text-align: center;
}
#scrollbar #scroll-up {
    background: var(--white);
    height: 12px;
    padding-top: 1px;
}
#scrollbar #scroll-down {
    background: var(--white);
    height: 12px;
    padding-top: 1px;
}
#scrollbar #scroll-bar {
    background: var(--black);
    height: 68%;
}
#scrollbar #scroll-bar:before {
    content: "";
    background: var(--scanColor);
    width: 100%;
    height: 12%;
    position: absolute;
    left: 0;
    top: 36%;
}

/* Apps button */
.app-frame#apps .app-button{
    text-align: -webkit-center;
}
#apps-grid {
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 78%;
}
div#apps-grid > * {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    padding: .5rem;
}
#apps-grid #app-1 { background: radial-gradient(#e64900, #ee5f1f); grid-area: 1 / 1 / 2 / 2; }
#apps-grid #app-2 { background: radial-gradient(#cae843, #a9c02b); grid-area: 1 / 2 / 2 / 3; }
#apps-grid #app-3 { background: radial-gradient(#15d1dd, #05a8b5); grid-area: 2 / 1 / 3 / 2; }
#apps-grid #app-4 { background: radial-gradient(#c33c7e, #a72564); grid-area: 2 / 2 / 3 / 3; }

/* My Device button */
.app-frame .mobile {
    transform: rotate(10deg);
}
.app-frame .mobile .phone {
    box-shadow: #0a5170 0 0 20px 2px;
}
#device-app-bg {
    position: absolute;
    top: 0;
    filter: invert(1) opacity(0.05);
    z-index: 0;
}
#device-app-bg img {
    border-radius: 18px;
}
.mobile {
    justify-content: center;
    align-items: center;
    display: flex;
}
.phone {
    background: #1a1a58;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 94px;
    display: flex;
}
.phone-mirror {
    background-color: #1a1919;
    border-radius: 3px;
    width: 50px;
    height: 90px;
    position: relative;
}
.topWrapper {
    float: left;
    background-color: #2a2a2a;
    border-radius: 0 0 4px 4px;
    width: 25px;
    height: 5.5px;
    position: relative;
    left: 26%;
    top: .2px;
}
.line-rec {
    float: left;
    background-color: #535352;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    width: 13px;
    height: 3px;
    margin: 0 auto;
    position: relative;
    top: 1px;
    left: 15%;
}
.camera {
    float: left;
    background-color: #535352;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    width: 3px;
    height: 3px;
    margin-right: 2px;
    position: relative;
    top: 1px;
    left: 13%;
}
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    width: 100%;
}
#logo-1 {
    color: var(--white);
    font-family: 'dosis';
}
#logo-2 {
    color: var(--scanColor);
    font-weight: bold;
    font-family: 'neuropol';
}

.app-logo {
    width: 64px;
}

#app-1-aux,
#app-1-aux-2,
#app-1-aux-3 {
    position: relative;
}

#app-1-aux:before {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: -2px;
    top: -8.2px;
}

#app-1-aux:after {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    top: -9.3px;
    left: 3.2px;
    transform: rotate(90deg);
}

#app-1-aux-2:before {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    top: -8.2px;
    right: -18px;
    transform: rotate(-45deg);
}

#app-1-aux-2:after {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    bottom: -8.2px;
    left: -2px;
    transform: rotate(125deg);
}

#app-1-aux-3:before {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    bottom: -9.3px;
    left: 3.2px;
    transform: rotate(90deg);
}

#app-1-aux-3:after {
    content: "";
    background-color: var(--homeApps1);
    width: .6rem;
    height: .5px;
    display: block;
    position: absolute;
    bottom: -8.2px;
    right: -17.8px;
    transform: rotate(50deg);
}

#app-1 svg {
    width: 1rem;
    height: 1rem;
}

#app-1 .app-icon-frame {
    transform: scale(0.9);
}

.app-icon-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#app-3-point-1,
#app-3-point-2,
#app-3-point-3,
#app-3-point-5,
#app-3-point-7,
#app-3-point-8 {
    width: 2px;
    height: 2px;
    background-color: var(--homeApps2);
    border-radius: 100%;
    position: absolute;
}

#app-3-point-1 {
    top: 0;
    left: 0;
}

#app-3-point-2 {
    top: .15rem;
    right: .3rem;
}

#app-3-point-3 {
    top: .45rem;
    right: 0;
}

#app-3-point-5 {
    bottom: .15rem;
    right: .75rem;
}

#app-3-point-7 {
    bottom: .45rem;
    right: .75rem;
}

#app-3-point-8 {
    bottom: 0rem;
    left: 0;
}

#app-3-point-4 {
    border: 1px solid var(--homeApps2);
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    left: -.08rem;
}

#app-3-point-6 {
    background-color: var(--homeApps2);
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: .25rem;
    right: 0;
}

#app-3-line-1,
#app-3-line-2,
#app-3-line-3,
#app-3-line-4,
#app-3-line-5,
#app-3-line-6,
#app-3-line-7,
#app-3-line-8,
#app-3-line-9 {
    background-color: #42e2eea8;
    position: absolute;
}

#app-3-line-1 {
    width: 18px;
    height: .1px;
    top: 0.11rem;
    left: 0;
    transform: rotate(8deg);
}

#app-3-line-2 {
    width: 6px;
    height: .1px;
    top: .35rem;
    right: 0;
    transform: rotate(45deg);
}

#app-3-line-3 {
    width: 22px;
    height: .1px;
    top: .6rem;
    right: 0;
    transform: rotate(350deg);
}

#app-3-line-4 {
    width: 10px;
    height: .1px;
    top: 0.87rem;
    left: 0.1rem;
    transform: rotate(20deg);
}

#app-3-line-5 {
    width: 10px;
    height: .1px;
    top: 1.03rem;
    left: .65rem;
    transform: rotate(12deg);
}

#app-3-line-6 {
    width: 26px;
    height: .1px;
    top: 0.52rem;
    right: 0;
    transform: rotate(38deg);
}

#app-3-line-7 {
    width: 5px;
    height: .1px;
    bottom: 0.3rem;
    left: 0.535rem;
    transform: rotate(90deg);
}

#app-3-line-8 {
    width: 12px;
    height: .1px;
    bottom: .13rem;
    left: 0;
    transform: rotate(166deg);
}

#app-3-line-9 {
    width: 28px;
    height: .1px;
    bottom: 0.65rem;
    left: -0.29rem;
    transform: rotate(132deg);
}
