
#player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

section#apps {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 1rem 2rem;
}

.app-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    transition: .1s ease-in;
    position: relative;
}

.app-frame:hover {
    filter: brightness(.75);
    transition: .1s ease-in;
}

.app-frame.unread::before {
    content: "";
    background-color: var(--red);
    border-radius: 100px;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -.3rem;
    right: -.3rem;
    z-index: 1;
}

.app-label {
    color: white;
    text-shadow: 2px 3px 3px black;
}

#bank-account .app-button {
    border-color: #386a9d;
}

#store .app-button {
    border-color: #dddd00;
    background: radial-gradient(circle, #faa017, #ffc60c);
}

#messages .app-button {
    border-color: #00bcdd;
}

#log .app-button {
    border-color: #b6d2a2;
}

#apps.app-frame .app-button {
    border-color: #ef8c78;
}

#device .app-button {
    border-color: #6795ab;
}